useDynLib(missknn, .registration = TRUE)
import(Rcpp)
export(missknn)
export(complete)
export(print.missknn)
export(summary.missknn)
S3method(print, missknn)
S3method(summary, missknn)
S3method(complete, missknn)
